{% capture footer_contents %}
  <img src="https://www.schmidtsciences.org/wp-content/themes/schmidt-sciences/src/images/logo.svg" height="90" width="225" alt="Schmidt Sciences logo" style="filter:brightness(0%) invert(80%);"> <br>
  {{ site.footer_text }}
  &copy; Copyright {{ site.time | date: '%Y' }}
  {{ site.title }}. 
  <br>
  <small class="footer-images-citation">
  {{ site.footer_text_after }}
  </small>
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}

  <footer class="sticky-bottom mt-5" role="contentinfo">
    <div class="footer-flex">
      <div class="footer-images">
        <img src="{{ '/assets/img/plankton24.png' | relative_url }}" alt="plankton">
        <img src="{{ '/assets/img/plankton21.png' | relative_url }}" alt="plankton">
        <img src="{{ '/assets/img/plankton14.png' | relative_url }}" alt="plankton">
        <img src="{{ '/assets/img/plankton2.png' | relative_url }}" alt="plankton"> <!-- for spacing -->
        <img src="{{ '/assets/img/plankton2.png' | relative_url }}" alt="plankton">
        <img src="{{ '/assets/img/plankton2.png' | relative_url }}" alt="plankton"> <!-- end spacing -->
        <img src="{{ '/assets/img/plankton18.png' | relative_url }}" alt="plankton">
        <img src="{{ '/assets/img/plankton2.png' | relative_url }}" alt="plankton">
        <img src="{{ '/assets/img/plankton8.png' | relative_url }}" alt="plankton">
      </div>

      <div class="container footer-center">
        {{ footer_contents }}
      </div>

    </div>
  </footer>
{% endif %}
